data_quality_env
*__pycache__
.env
.venv
src/__pycache__
src/ui/__pycache__
src/ui/data_sources/__pycache__
.ipynb_checkpoints
.DS_Store
.vscode
.idea
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.csv
*.xlsx
*.json
*.parquet
*.pkl